<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iHarvester</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/measurements">Add Reading</a>
    </nav>  
    <div class="row">
    <!--  Jumbotron-->
      <div class="col-md-12 jumbotron text-center"> 
        <h1>iHarvester</h1>
        <h4>Add Readings</h4>
      </div>
    </div>
    <!--  First body row-->
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h3>Solution Reading</h3>
          <label for="ph">pH: </label>
          <input class="add_sr" type="text" inputmode="numeric" name="pH" placeholder="6.0" style="width: 60px;" required> </input><br>
          <label for="tds">TDS (mg/L): </label>
          <input class="add_sr" type="text" inputmode="numeric" name="tds" placeholder="800" style="width:60px;" required> </input><br>
          <label for="volume">Volume (L): </label>
          <input class="add_sr" type="text" inputmode="numeric" name="volume" placeholder="30.0" style="width:60px;" required> </input><br><br>

          <a class="btn btn-primary btn-md" id="add_sr_button" role="button">Add Reading</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <div id="result">
            <h1>Result:</h1>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h3>Plant Measurement</h3>
          <form>
            <label>Plant ID</label>
            <select class="add_pm" id="plantID"></select>
          </form>
          <label for="size_x">Size X (mm): </label>
          <input class="add_pm" type="text" inputmode="numeric" name="size_x" placeholder="800" style="width:60px;"> </input><br>
          <label for="size_y">Size Y (mm): </label>
          <input class="add_pm" type="text" inputmode="numeric" name="size_y" placeholder="800" style="width:60px;"> </input><br>
          <label for="size_z">Size Z (mm): </label>
          <input class="add_pm" type="text" inputmode="numeric" name="size_z" placeholder="800" style="width:60px;"> </input><br>
          <label for="leaf_count">Leaf Count: </label>
          <input class="add_pm" type="text" inputmode="numeric" name="size_X" placeholder="800" style="width:60px;"> </input><br>
          <label for="harvest">Harvest Volume (g): </label>
          <input class="add_pm" type="text" inputmode="numeric" name="harvest" placeholder="800" style="width:60px;"> </input><br>

          <a class="btn btn-primary btn-md" id="add_pm_button" role="button">Add Measurement</a>
        </div>      
      </div>
    </div>
    
    <!-- Second body row -->
    <div class="row">
      <!-- Add Seedling -->
      <div class="col-lg-4">
        <div class="well">
          <h3>New Seedling</h3>
          <form>
            <label>Seed Lot ID</label>
            <select class="add_seedling" id="seed_lot_id"></select>
          </form>

          <a class="btn btn-primary btn-md" id="add_seedling_button" role="button">Add Seedling</a>
        </div>
      </div>
      <!-- Update Seedling -->
      <div class="col-lg-4">
        <div class="well">
          <h3>Update Seedling</h3>
          <form>
            <label>Seedling ID</label>
            <select class="update_seedling" id="seedling_id"></select>
          </form>
          <b>Germinated: </b>
          <label for="True">True</label>
          <input class="update_seedling" type="radio" name="germinated" id="True" value="True" style="width: 30px;"> </input><br>
          <label for="False">False</label>
          <input class="update_seedling" type="radio" name="germinated" id="False" value="False" style="width: 30px;"> </input>
          <a class="btn btn-primary btn-md" id="update_seedling_button" role="button">Update Seedling</a>
        </div>            
      </div>          
      <div class="col-lg-4">
        <div class="well">
          <h3>New Plant</h3>
          <form>
            <label>Seedling ID</label>
            <select class="add_plant" id="seedling_id"></select>
          </form>
          <label for="location">Location: </label>
          <input class="add_plant" type="text" inputmode="numeric" name="location" placeholder="1" style="width: 60px;"> </input><br>
          <label for="transfer_date">Transfer Date: </label>
          <input class="add_plant" type="date" name="transfer_date" placeholder="1000" style="width: 120px;"> </input><br>

          <a class="btn btn-primary btn-md" id="add_plant_button" role="button">Add Plant</a>
        </div>   
      </div>
    </div>

    <!-- Third body row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="well">
          <h3>New Plant Type</h3>
          <label for="type">Type: (dropdown, editable?)</label>
          <input class="add_plant_type" type="text" name="type" style="width: 150px;"> </input><br>
          <label for="variety">Variety: (dropdown, editable?)</label>
          <input class="add_plant_type" type="text" name="variety" style="width: 150px;"> </input><br>
          <label for="description">Description: </label>
          <input class="add_plant_type" type="text" name="description" style="width: 300px;"> </input><br>
          <label for="notes">Notes: </label>
          <input class="add_plant_type" type="text" name="notes" style="width: 300px;"> </input><br>
          <label for="planting_instructions">Planting Instructions: </label>
          <input class="add_plant_type" type="text" name="planting_instructions" style="width: 300px;"> </input><br>
          <label for="ph">Target pH: </label>
          <input class="add_plant_type" type="text" name="ph" style="width: 100px;"> </input><br>
          <label for="tds">Target TDS (mg/L): </label>
          <input class="add_plant_type" type="text" name="tds" style="width: 100px;"> </input><br>

          <a class="btn btn-primary btn-md" id="add_pt_button" role="button">Add Plant Type</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="well">
          <h3>New Seed Lot</h3>
          <form>
            <label>Plant Type</label>
            <select class="add_seed_lot" id="plant_type"></select>
          </form>
          <form>
            <label>Plant Variety</label>
            <select class="add_seed_lot" id="plant_variety"></select>
          </form>
          <label for="vendor">Vendor: </label>
          <input class="add_seed_lot" type="text" name="vendor" style="width: 200px;"> </input><br>
          <label for="order_date">Order Date: </label>
          <input class="add_seed_lot" type="date" name="order_date" style="width: 120px;"> </input><br>
          <label for="quantity">Quantity: </label>
          <input class="add_seed_lot" type="text" inputmode="numeric" name="quantity" placeholder="50" style="width:60px;"> </input><br>
          <label for="price">Price (USD): </label>
          <input class="add_seed_lot" type="text" inputmode="numeric" name="price" placeholder="6.99" style="width:80px;"> </input><br>
          <label for="product_url">Product URL: </label>
          <input class="add_seed_lot" type="text" name="product_url" style="width: 400px;"> </input><br>

          <a class="btn btn-primary btn-md" id="add_sl_button" role="button">Add Seed Lot</a>
        </div>
      </div>


    </div> 
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="static/js/app.js"></script>
  

</body>

</html>


