body {
    background-image: url("../images/fullSystem.png");
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: hsl(0, 0%, 100%); 
    }
.jumbotron {color: #FFFFFF;
  background-color: hsl(110, 100%, 39%);

  background-repeat: repeat-x;
  text-align: center;
  text-shadow: black 1px 1px 30px;
}
#result {text-align: center; text-size-adjust: 400%; color: #38042F}
  