<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iHarvester</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  
  <div class="container">

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/measurements">Add Reading</a>
    </nav>  

    <div class="row">
      <!--  Jumbotron-->
      <div class="col-md-12 jumbotron text-center"> 
        <h1>iHarvester</h1>
        <h4>Current Status</h4>
      </div>
    </div>
    <!--  First body row-->
    <div class="row">
      <div class="col-md-12">
        <div id="solution_chart"></div>
      </div>
      </div>
    <br>
    <!-- Second body row -->
    <div class="row">
      <div class="col-lg-2"> 
          <div class="well">

          </div>
      </div>
      <div class="col-lg-2"> 
        <div class="well">

        </div>
      </div>
      <div class="col-lg-2"> 
        <div class="well">

        </div>
      </div>
      <div class="col-lg-2"> 
        <div class="well">

        </div>
      </div>
      <div class="col-lg-2"> 
        <div class="well">

        </div>
      </div>
      <div class="col-lg-2"> 
        <div class="well">

        </div>
      </div>
    </div> 
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/plots.js"></script>

</body>

</html>